.App {
  text-align: center;

}


li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  
}

.flex {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width-element{
  width: 90%;
  margin: 0 auto;
}




   /* HEADER STYLING */
 .header{
   
   padding: 30px 40px;
   justify-content: space-around;
   overflow-x: hidden ;
 }

 .header a{
  margin: 0 15px;
  font-size: 1.5rem;
 }

 .header li a:hover {
  padding-bottom: 5px;
    border-bottom: 1px solid grey;

 }
 .logo{
  width: 200px;
  

 }
 
 .header button{
  margin: 0 10px;
  
  border-radius: 5px;
 }
 .header .btn-blue{
  background-color: #4d89fe;
  border: none;
  padding: 7px 13px;
 }
 
 .header .btn-blue a{
  color: white;
  
 }
 .header .btn-white{
  padding: 7x 13px;
  background-color: transparent;
  border: 1px solid #4d89fe;
 }
 

 
/* 
HOME */


.home{
  margin-top: 150px;
  margin-left: 100px;

}

.smart{
  width: 40%;
  margin: 40px;
}

/* FEATURE */

.feature{
  margin-top: 270px;
  width: 52%;
  margin-left: 40px;
  margin-bottom: 100px;
}

.service{
  margin-left: 40px;
  margin-bottom: 30px;

}

.service-2{
  align-self: center;
  width: 80%;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}

.service-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}


.api{
  margin-left: 40px;
  width: 40%;
}

/* Footer */

.grid-footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  margin-top: 90px auto 0 auto;
  padding-bottom: 50px;
  padding-left: 40px;
}

.footer-flex{
  display: flex;
  gap: 30px;
  padding: 30px 40px 0 0;
  /* justify-content: space-between; */
}

.footer{
background-color: #a5bff4;
/* width: 100vw; */
}
.subscribe{
  background-color: #a5bff4;
  width: 60%;
  display: flex;
  padding: 5px 0 5px;
  border-radius: 20px;

}
.sub-width{
  width: 50%;
}

.subscribe button{
  background-color: white;
  border-radius: 25px;
  padding: 3px 13px;
}

.subscribe input{
  width: 60%;
  background-color: #a5bff4;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}




   /* REGISTER   /  LOGIN */
.register form input:focus{
  outline: none;

}

.register form input.width{
  width: 80%;
  border-radius: 20px;
  padding: 5px 4px 5px 10px;
  margin: 0 auto;
}

.form-container{
  border-radius: 20px;
  background-color:white; height: 90%; width:40%;display:flex; flex-direction:column; justify-content: center; align-items: center
}

.form-container input.btn{
  width: 80%;
  margin: 0 auto;
  
}








    /* DASHBOARD */

.dash-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 40px;
  width: 98%;
  height: 60px;
  
  
}
.dash-nav .profile{
  align-self: center;
}

.dash-nav .profile span .pic{
 
  border: 1px solid grey;
  width: 15px;
  height: 15px;
  background-color: grey;
  border-radius: 50%;
  margin: 0 10px;
  display: inline-block;
 
}

.fixed-nav{
  position: fixed;
  left: 0;
  top: 60px;
  height: 100vh;
  width: 18%;
  padding-left: 20px;
  padding-top: 30px;
}

.fixed-nav input:focus{
outline: none;
}

.btn-dashboard{
  padding: 12px 50px;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  background-color: #becce9;

}

.dashboard-wallet{
  margin-left: 19%;
  background-color: rgb(219, 227, 245, .19);
  height: 100vh;
}

.dash-grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

















/* TAB AND MOBILE */

 @media(max-width: 1150px){
  .eclipse{
    display: none;
  }
  .feature{
    margin: 100px auto 20px auto;
    padding-left: 15px;
    width: 90%;

  }
  api{
    padding-left: 15px;
    width: 90%;
  }
  
  
 }
@media(max-width: 1000px){
  .header {
    padding-left: 15px;
    
  }

  .flex{
    flex-direction: column;
    align-items: flex-start;
  }
  .logo{
    width: 170px;
  }
  .header a {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .mobile{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 25px;

     
  }
  
  .btn-container{
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-top: 20px;
  }
  .header .btn-blue{
    margin-top: 15px;
    padding: 3px 8px;
  }

  .header .btn  {
    padding: 5px 10px;
  }
  .header .btn a {
    font-size: 16px;
  }
  

  .home{
    margin-top: 50px;
    margin-left: 20px;
  }

  .smart{
    width: 90%;
    margin: 0 auto;
  }
  .eclipse{
    display: none;
  }

  
.api{
  padding-left: 15px;
  width: 90%;
}

  .grid{
    grid-template-columns: 1fr;
  }

  .service-grid{
    grid-template-columns: 1fr;
  }

  
  

  .grid-footer{
    display: grid;
    grid-template-columns: 1fr;
    
    width: 90%;
   
    padding-bottom: 50px;
    padding-left: 20px;
    margin-top: 30px;
  }
  
  .footer-flex{
    display: block;
    
   
    /* justify-content: space-between; */
  }

  .sub-width{
    width: 90%;
    margin: 0 auto;
    padding-left: 25px;
  }

  .mobile-center{
    text-align: center;
    margin-bottom: 5px;
  }

  .subscribe{
    background-color: #a5bff4;
    width: 90%;
    display: flex;
    padding: 5px 0 5px;
    border-radius: 20px;
  
  }
}


@media(max-width: 800px){
  .header {
    padding-left: 15px;
    
  }

  .flex{
    flex-direction: column;
    align-items: flex-start;
  }
  .header a {
    font-size: 18px;
  }
  .logo{
    width: 150px;
  }
  .eclipse{
    display: none;
  }
  .smart{
    width: 90%;
  }

  
.form-container{
  border-radius: 20px;
  background-color:white; height: 90%; width:85%;display:flex; flex-direction:column; justify-content: center; align-items: center
}
}
